h1,
h3,
#recipe-list {
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
}

p,
.ingredients,
.steps {
    font-family: Arial;
}

#recipe-list a:link,
#recipe-list a:visited {
    color: rgb(29, 127, 226);
}

h1,
#recipe-list a:hover {
    background-color: lightgoldenrodyellow;
    color: hsl(358, 100%, 72%);
}

h1 {
    text-align: center;
}

h3 {
    font-size: 20px;
}

img {
    display: block;
    margin: auto;
    height: 350px;
    width: auto;
}

#recipe-list {
    display: table;
    margin: 0 auto;
    line-height: 1.8;
    color: hsl(240, 70%, 50%);
}